@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600");

body { 
  background: url(./background.png) no-repeat top right; 
}

p {
    margin: 10px 0 5px;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
}
